@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #151515;
  /* indexgri renk kodun */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* perspective ve 3D support */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Scrollbar özelleştirme */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-purple-600 {
  scrollbar-color: #7c3aed transparent;
}

.scrollbar-track-gray-700 {
  background-color: #374151;
}

/* Webkit için */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #374151;
}
